<header>
<h1>NextVroom</h1>
</header>

<div>
  <form action="/sessions" method="POST" class="sign_in">
    <h2>Login here</h2>
    
    <label for="">Email:</label>
    <input required type="text"name="email">

    <label for="">Password:</label>
    <input required type="password"name="password">

    <button class="button">Log in</button>
  </form>
</div>