<h1>Sign up</h1>

  <form action="/users" method="POST">
  <label for="">First name:</label>
  <input type="text" name = "first_name">

  <label for="">Last name:</label>
  <input type="text" name = "last_name">

  <label for="">Email:</label>
  <input type="text" name = "email">

  <label for="">Password:</label>
  <input type="password" name = "password">

  <button>Create account</button>
</form>