<header>
<h1>NextVroom</h1>
</header>

<div>
  <form action="/update/<%=car['id']%>" method= "POST" class="edit_car">
    <input type="hidden" name="_method" value="put">

    <h2>Edit your car here</h2>

    <label for="">You are editing</label>

    <label for="">Car brand: </label>
    <input required type="text" name="brand" value="<%= car['brand']%>">

    <label for="">Car model:</label>
    <input required type="text" name="model" value="<%= car['model']%>">

    <label for="">Car year:</label>
    <input required type="text" name="year" value="<%= car['year']%>">

    <button class="button">Update this car</button>

  </form>
</div>