<h2>Edit your car here</h2>

<form action="/update/<%=car['id']%>" method= "POST">
<input type="hidden" name="_method" value="put">
  <span class="Edit">
    <label for="">You are editing</label>

    <label for="">Car brand: </label>
    <input type="text" name="brand" value="<%= car['brand']%>">

    <label for="">Car model:</label>
    <input type="text" name="model" value="<%= car['model']%>">

    <label for="">Car year:</label>
    <input type="text" name="year" value="<%= car['year']%>">
  </span>
  <button>Update this car</button>

</form>