<h1>NextVroom</h1>

<h3>Welcome</h3>
<span class="users">
<a href="/sign_up">Sign up</a>
<a href="/login">Login</a>
</span>

<span class = "staff_picks">
<p>This month's staff pick's</p>
<ol>
<li>Rover mini <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Morris_Mini-Minor_1959_%28621_AOK%29.jpg/280px-Morris_Mini-Minor_1959_%28621_AOK%29.jpg" alt=""></li>
<li>Land cruiser 70 series<img src="https://assets.whichcar.com.au/image/upload/s--B7EE7nO5--/ar_2.304921968787515,c_fill,f_auto,q_auto:good/v1/archive/whichcar/2020/09/11/-1/TROOPY-MAIN-1.jpg" alt=""></li>
<li>Tesla model X Plaid<img src="https://www.gtopcars.com/wp-content/uploads/2021/07/Tesla-Model-X-Redesign-2022.jpg" alt=""></li>
<li>Lotus elise<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/2014_Lotus_Elise_S_Club_Racer_1.8_Front.jpg/280px-2014_Lotus_Elise_S_Club_Racer_1.8_Front.jpg" alt=""></li>
<li>Mercedes amg gt<img src="https://i.ytimg.com/vi/za1xoUEtkS8/maxresdefault.jpg" alt=""></li>
<li>Audi r8<img src="https://editorial.pxcrush.net/carsales/general/editorial/2020-audi-r8_1.jpg?width=1024&height=683" alt=""></li>
<li>Citroen DS<img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Bornholm_Rundt_2012_%282012-07-08%29%2C_by_Klugschnacker_modified.jpg" alt=""></li>
<li>Nissan GTR nismo<img src="https://carsguide-res.cloudinary.com/image/upload/f_auto,fl_lossy,q_auto,t_cg_hero_large/v1/editorial/Nissan_GT-R_2020_white_1.jpg" alt=""></li>
<li>hyundai i30 n<img src="https://assets.whichcar.com.au/image/upload/s--vAYYrBUq--/ar_1.9047619047619047,c_fill,f_auto,q_auto:good/c_scale,w_1200/v1/archive/whichcar/2020/09/25/122576/Hyundaii30N_main.jpg" alt=""></li>
<li>microlino<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtFNSvZHa9kgCuLsJ9JsnvGA8AtnhsXR04lA&usqp=CAU" alt=""></li>
</ol>
</span>


  

  