<h3>Add a car you would like to look at</h3>

<form action="/car" method="POST">
  <input type="hidden" name="user_id" value=<%= user_id%>>
  <label for="">Car brand:</label>
  <input type="text" name="brand">

  <label for="">Car model:</label>
  <input type="text" name="model">

  <label for="">Car year:</label>
  <input type="text" name="year">

  <button>Add car</button>

</form>